{% extends 'base.html' %}

{% block content %}
    <div class="container">
            {% for data in kegiatan %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope='col' colspan="2" class="text-center"><b> {{ data.nama_kegiatan }} </b></th>
                    </tr>
                    <tr>
                        <th scope='col' colspan="2" class="text-center"><b> {{ data.deskripsi_kegiatan }} </b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for orang in person %}
                            {% if orang.kegiatan == data %}
                                <tr>
                                    <td align="center"> {{ orang.person_name }} </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                    <tr>
                        <td align="center">
                            <a class="btn btn-outline-dark btn-block" href="tambah_orang/{{ data.id }}">Daftar</a>
                        </td>
                    </tr>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
    </div>
{% endblock %}