{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    <form action="#" method="POST">
        {% csrf_token %}
        <table>
            {{ form|crispy }}
        </table>
        <input class="btn btn-outline-dark btn-block" type="submit" value="submit">
    </form>
    </div>
{% endblock %}